{% extends 'base.html' %}

{% block content %}

<div class="container">
  <header>
    <h1>Participation Form</h1>
    <h2>Fill in your details and agree to the terms, we are happy with your interest!</h2>
  </header>
  <form action="" method="post">
    <fieldset>
      {{ form.csrf_token }}
      {{ form.name.label(class="lbl-text") }}
      {{ form.name(class="input-detail") }}

      {{ form.email.label(class="lbl-text") }}
      {{ form.email(class="input-detail") }}

      {{ form.number.label(class="lbl-text") }}
      {{ form.number(class="input-detail") }}

      {{ form.age.label(class="lbl-text") }}
      {{ form.age(class="input-detail") }}

      {{ form.occupation.label(class="lbl-text") }}
      {{ form.occupation(class="input-detail") }}
    </fieldset>
    <fieldset>
      <label class="check" for="terms"><input type="checkbox" id="terms" name="terms" required> <b>I have read and
          agree to the <a href="javascript:void(0)">terms of use</a> and <a href="javascript:void(0)">privacy
            policy</a>.</b></label>
    </fieldset>
    <button type="submit"><b>Send</b></button>
  </form>
</div>


{% endblock %}